table {
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
  }
  
  .alert {
    margin-top: 20px;
  }
  